/* Estilo general */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Contenedor central con efecto 3D */
.contenedor {
  background: #ffffff;
  padding: 20px;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

/* Botones con efectos */
.boton-efecto {
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-efecto:hover {
  background-color: #c9c9c9;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.boton-efecto:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Inputs y select */
input,
select {
  width: calc(100% - 10px);
  margin: 5px 0;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
}

input:focus,
select:focus {
  border-color: #bbb;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1 {
  color: #444;
  font-size: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 18px;
}
